#object file
*.o

#library
*.a

#share object
*.so
*.so.*

#generated proxy
*_u.c
*_u.h
*_t.c
*_t.h

#output files
/build/
/linux/installer/bin/*.bin

#download_prebuilt.sh dependencies
Intel\ redistributable\ binary.txt
Master_EULA_for_Intel_Sw_Development_Products.pdf
SHA256SUM_prebuilt_2.2.txt
external/ippcp_internal/
optimized_libs_2.2.tar.gz
prebuilt_ae_2.2.tar.gz
psw/ae/data/prebuilt/PSDA.dalp
redist.txt

#files generated when compiling the examples
.config_HW_DEBUG_x64
app
